body, .main, .name, .link-list, .link-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #7ec0ee;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
}

img {
  margin: 0 9px 0 5px;
}

h1 {
  color: #3f6077;
  font-family: 'Roboto Slab', serif;
}

h3 {
  color: #19262f;
}

p{
  margin: 3px;
  color: #19262f;
}

#folder-name {
  padding: 2px 5px;
}

input[type=submit] {
  padding: 5px 10px;
  border: none;
  background: #19262f;
  color: #FFF;
  margin: 10px;
}

input[type=submit]:hover {
  background: #6499be;
  color: #19262f;
}

input {
  margin: 5px;
}

.folder-button {
  margin-bottom: 10px;
  font-size: 1.5em;
  background: #7ec0ee;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 1px solid #3f6077;
  color: #19262f;
}

.folder-button:hover {
  border-bottom: 1px solid #66b2b2;
  color: #66b2b2;
}

.link-list {
  margin-bottom: 20px;
}
