body {
  background: url('https://c1.staticflickr.com/9/8105/8690313402_e5298b34c4_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.main, .name, .link-list, .link-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 3px;
}


header {
  text-align: center;
}

.intro {
  border: solid 1px black;
  margin: 2% 10%;
  padding: 1%;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.6;
}

.main-text {
  text-align: center;
  font-size: 20px;
}

img {
  margin: 0 9px 0 5px;
}

h1 {
  color: #100254;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

h3 {
  color: #19262f;
}

p{
  margin: 3px;
  color: #19262f;
}

#folder-name {
  padding: 2px 5px;
}

.sort-btn {
  border: 1px solid black;
  background: #fff;
  color: #100254;
}

input[type=submit] {
  border: 1px solid black;
  background: #fff;
  color: #100254;
}

input[type=submit]:hover, input[type=submit]:active {
  background: #ffff00;
  color: #19262f;
}

input {
  margin: 5px;
}

.folder-button {
  margin-bottom: 8px;
  font-size: 1em;
  background: #7ec0ee;
  font-family: 'Open Sans', sans-serif;
  border: 3px solid #3f6077;
  color: #3f6077;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 140px;
  min-width: 140px;
  border-radius: 10px;
}

.folder-button:hover, .selected {
  border: 3px solid #ffff00;
  color: #ffff00;
}

.sort-btn-container {
}

.link-list {
  margin-bottom: 30px;
  border: 3px solid white;
  border-radius: 10px;
  background: #fff;
  border: 1px solid black;
}

.link-list p {
  margin: 5px;
}

.link-text {
  font-size: 20px;
}

.top-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}




@media screen and (max-width: 390px) {
    .sort-btn {
      display: block;
      margin: 0 auto;
    }
}
